@tailwind preflight;
@tailwind components;
@tailwind utilities;

@responsive {
  .w-auto {
    width: auto;
  }
  
  /* CSS Grid Utilities */
  .grid {
    display: grid;
  }

  .grid-template-columns {
    grid-template-columns: var(--grid-template-columns, auto);
  }

  .grid-gap-1 {
    grid-gap: 0.25rem;
  }

  .grid-gap-2 {
    grid-gap: 0.5rem;
  }

  .grid-gap-3 {
    grid-gap: 0.75rem;
  }

  .grid-gap-4 {
    grid-gap: 1rem;
  }
}

